{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="signupContainer container-fluid" style="display: flex;align-items: center;justify-content: center;">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            {% if messages %}
            {% for i in messages %}
              <ul class="messages">
                  <li class="messages"></li>
                  <li><strong>{{i}}</strong> </li>
              </ul>
          {% endfor %}
    {% endif %}
            <form method="POST" ENCTYPE="multipart/form-data">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" name="email">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password">
                    <!-- <i class='bx bx-hide eye-icon'></i> -->
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="{% url 'shop:signup' %}" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="{% url 'social:begin' 'facebook' %}" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="field google">
                <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
  

    </div>
</section>

{% endblock %}



<!--  <div class="container px-5 col-md-6 pt-3 pb-5 border mt-4" >-->
<!--<form method="POST" class="border-3" ENCTYPE="multipart/form-data">-->
<!-- {% csrf_token %}-->
<!--<div class="mb-3">-->
<!--  <label class="form-label">username</label>-->
<!--  <input type="text" class="form-control" name="u" placeholder="Enter username">-->
<!--</div>-->

<!--<div class="mb-3">-->
<!--  <label  class="form-label">password</label>-->
<!--  <input type="password" class="form-control" name="p" placeholder="entre password">-->
<!--</div>-->
<!-- <input type="submit" value="login" class="btn btn-primary">-->

<!--</form>-->
<!--      {% if messages %}-->
<!--        {% for i in messages %}-->
<!--          <ul class="messages">-->
<!--              <li class="messages"></li>-->
<!--              <li> {{i}}</li>-->
<!--          </ul>-->
<!--      {% endfor %}-->
<!--      {% endif %}-->
<!--</div>-->